@keyframes pulse {
	50% { background-color: #eee}
}

.pad {
	flex: 1 1 50%;
	height: 50%;
	border: none;
}

.pad:focus {
	outline: none;
}

.yellow{
	background-color: #EADB1A;
}


.blue{
	background-color: #20469D;
}


.red{
	background-color: #E8191E;
}


.green{
	background-color: #1DBD15;
}

.active {
	animation: pulse 0.5s ease;
}